<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="budo-bonne-web-launcher"
    version="3.0">

    <filter>
        <filter-name>BudoGraphViewFilter</filter-name>
        <filter-class>org.budo.graph.view.BudoGraphViewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BudoGraphViewFilter</filter-name>
        <url-pattern>/budo-graph/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>BudoDubboHttpProtocolDispatcherServlet</servlet-name>
        <servlet-class>org.budo.dubbo.protocol.http.dispatcher.servlet.BudoDubboHttpProtocolDispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BudoDubboHttpProtocolDispatcherServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:META-INF/spring/spring.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>